[submodule "curriculum-doelen"]
	path = curriculum-basis
	url = https://github.com/slonl/curriculum-doelen
[submodule "curriculum-examenprogramma"]
	path = curriculum-examenprogramma
	url = https://github.com/slonl/curriculum-examenprogramma
